body {
  background-color: #3d6df2;
  margin-top: 15px;
}
#vide {
  display: flex;
  align-items: center;
}
video {
  background: black;
  border: 1px solid gray;
}

#container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#yours {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

#theirs {
  width: 500px;
  height: 500px;
}
